/** Global *******************************************/
*{
	all: unset;
	font-family: SauceCode Pro Nerd Font;
}

/** LeftBar **************************************/
/** Background **************************************/
.mainbody {
	background: transparent
}
.widgetParent {
	border-radius: 48px;
	background: rgba(26, 28, 42, 0.4);
	padding: 10px;
}

/** DateTime Widget**************************************/
.clockTime {
	font-size: 48px;
	margin-top: 12px;
}
.clockIcon{
	font-size: 96px;
	margin-right: 48px;
	margin-top: -32px;
}
.dateIcon{
	font-size: 96px;
	margin-left: 32px;
	margin-top: -56px;
}
.day {
	margin-top: 64px;
}
.dateTime {
	font-size: 36px;
	margin-top: -36px;
}
/** Uptime/Host Widget**************************************/
.uptimeIcon {
	font-size: 96px;
	margin-top: -36px;
}

/** EOF *************************************************/
