/** Global *******************************************/
*{
	all: unset;
	font-family: SauceCode Pro Nerd Font;
}

/** Background **************************************/

.leftbar {
	background-color: #1a1c2a;
	opacity: 0.8;
	border-radius: 12px;
}

.btns-box > button{
	font-size: 52px;
	padding: 0 12px 0 12px;
}
.btns-box > button:hover{
	opacity: 0.8
}

/** EOF *************************************************/
