/** Global *******************************************/
*{
	all: unset;
	font-family: SauceCode Pro Nerd Font;
}

/** Background **************************************/

.leftbar {
	border-radius:20px;
	background: rgba(26, 28, 42, 0.4);
	padding: 10px;
}

.btns-box > button{
	font-size: 52px;
	padding: 0 12px 0 12px;
}
.btns-box > button:hover{
	opacity: 0.8
}

.time{
	font-size: 48px;
}

/** EOF *************************************************/
