Config(
  ignored: [".git", "target"], // A list of patterns to be ignored in all directories
  directories: [
    WatchDir(
      path: "~/code", // The root folder to be indexed
      recurse: true, // Recursively index and watch all subfolders
      ignored: [], // Ignore patterns specifically for this directory
    ),
    WatchDir(
      path: "~/.config",
      recurse: true,
      ignored: [],
    ),
    WatchDir(
      path: "~/Desktop",
      recurse: true,
      ignored: [],
    ),
    WatchDir(
      path: "~/Documents",
      recurse: true,
      ignored: [],
    ),
    WatchDir(
      path: "~/Pictures",
      recurse: true,
      ignored: [],
    ),
  ],
)
