* {
    bg0:    #1e1e2e;   /* base */
    bg1:    #313244;   /* surface0 */
    bg2:    #45475a;   /* surface1 */
    bg3:    #7f849c;   /* overlay1 (slightly muted blue) */
    fg0:    #cdd6f4;   /* text (lightest) */
    fg1:    #e0e2e8;   /* subtext0 (lighter than fg0) */
    fg2:    #a6adc8;   /* overlay2 (soft gray) */
    fg3:    #6c6f85;   /* overlay0 (deep gray) */
}

@import "template.rasi"

element selected {
    text-color: @fg0;
}
