[Unit]
Description=Auth Endpoint

[Service]
Type=simple
User=mike
ExecStart=/home/mike/dots/pi/nginx_auth_server/auth
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
