[Unit]
Description=Vaultwarden Docker Container
# This service requires the Docker service and will start after it and the network are ready.
Requires=docker.service
After=network.target docker.service

[Service]
Type=simple
# Make sure this user exists and owns the script!
User=mike
# Use the full path to your script
ExecStart=/home/mike/dots/pi/service_files/run_vault.sh
Restart=on-failure
RestartSec=10s

[Install]
# This tells systemd to start the service at boot
WantedBy=multi-user.target

